Repository cloudposse/terraform-aws-managed-prometheus, pull requests merged in 2024-05, with the labels that each got.

#7 Update badges and contributors section in README
  README.md
  README.yaml
Labels: no-release, readme

#8 Fix: Null-Label Usage
  README.md
  cross-account-role.tf
  docs/terraform.md
Labels: patch

#9 Update release workflow to allow pull-requests: write
  .github/workflows/release.yml
Labels: auto-update, no-release, migration
